---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { PRESENTATIONS } from "@consts";
---

<PageLayout title={PRESENTATIONS.TITLE} description={PRESENTATIONS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Below is a list of recent presentations I have delivered at national and international conferences.
      </div>
      <ul class="animate space-y-4 list-disc list-inside text-gray-700 dark:text-gray-300">
        <li>
          <strong class="text-black dark:text-white">Tokyo, Japan (2024)</strong><br />
          SMBE Satellite Workshop on Pathogen Pangenome Evolution
        </li>
        <li>
          <strong class="text-black dark:text-white">Copenhagen, Denmark (2024)</strong><br />
          International Biennial Pseudomonas Conference
        </li>
        <li>
          <strong class="text-black dark:text-white">Basel, Switzerland (2024)</strong><br />
          Bacterial Bioinformatics Workshop
        </li>
          <li>
          <strong class="text-black dark:text-white">Cambridge, UK (2024)</strong><br />
          Department of Medicine Annual Research Day
        </li>
        <li>
          <strong class="text-black dark:text-white">Cambridge, UK (2022)</strong><br />
          Genome Informatics
        </li>
        <li>
          <strong class="text-black dark:text-white">Barcelona, Spain (2022)</strong><br />
          BACNET22
        </li>
      </ul>
    </div>
  </Container>
</PageLayout>